.patient-card-wrapper {
    background-color: azure;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.table-image-container {
    height: 70px;
    width: auto;
    border: black 2px solid;
    border-radius: 5px;
}

.table {
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}